.g1{
	border: 20px ridge #7B68EE;
	width:1200PX; 
	margin: auto;
	background-color: #ADD8E6;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	

}
body{
	background-image: url(img/fon.jpg);
	text-align: center;
}
.item{
	height: 350px;
	width:450PX;
	background-color: #66CDAA;
	margin: 10px;
	background-size: cover;
	background-position: center;
	border-radius: 90%;
	

}
.item:hover{
	background-color: #6B8E23;
	border: 20px double #556B2F; 
	opacity: 0.5;
	transform: scale(5.5) rotate(2000000000deg);
	transition: 10s;
	z-index: 
}
a:hover{
	z-index: 100;
}